<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
</head>
<body >
    <div class="header">
        <div class="hexContainer" style="justify-content:start;">
            <div class="hexagon">
                <a class="innerhexagon" href="/">
                    The<br> Order Of the<br> Storm
                </a>
            </div>
        </div>
    </div>

    <div class="block" style="margin-top: 40px;">
        <h1>We are the children of the storm</h1>
        <div class="about-us">
            <div class = "storm-image">
                <img src="../static/images/Storm.jpg" alt="storm" width="80%" height="80%" onclick="location.href='/storm';">
            </div>
            <p>Storm is a conduit between mortals and the primal forces of nature. They perceive storms as both a destructive and transformative power, capable of purging corruption and paving the way for renewal.</p>
    
        </div>
        
    </div>
    <div class="quote-divider">
        <h2>In Storm's embrace, we find peace.</h2>
    </div>
    <div class="rabbit">
        
    </div>
    <div class="block manifest">
        <p>
            We, as members of The Order, believe that Storm is a conduit between mortals and the primal forces of nature. We perceive storms as both a destructive and transformative power, capable of purging corruption and paving the way for renewal.
            <br><br>
            As followers of the cult, we seek to emulate Storm's traits by embracing the duality of our own nature and harnessing the storms within ourselves to bring about positive change.
            <br><br>
            We undergo rigorous training and rituals to attune ourselves to Storm's essence. We are taught to interpret the signs and patterns of natural phenomena, such as cloud formations, lightning strikes, and the behavior of animals, in order to gain insight into Storm's will. Through meditation, we learn to channel Storm's energy, gaining control over elemental forces and wielding them in combat or in the aid of others.
            <br><br>
            Within our cult, there are various ranks and roles. The High Stormseer, a revered figure within the order, serves as the primary intermediary between Storm and its followers. We aspire to become Stormwardens, the elite warriors capable of summoning the fury of the storm to bolster our fighting prowess. Some of us are Stormcallers, skilled sorcerers who tap into Storm's energy for powerful spellcasting. Others dedicate themselves as Stormwatchers, studying and preserving ancient texts and artifacts related to Storm's lore.
            <br><br>
            Some times you just need to pet storm<br>
            In the heart of The Order of the Storm lies our profound desire for peace and unity, our unwavering commitment to harmony and preservation of nature's delicate balance. Our core teachings revolve around the principle of non-violence and being one with the natural world.
            <br><br>
            We believe that violence begets violence, and instead, we strive to resolve conflicts through understanding, empathy, and diplomacy. We view ourselves as guardians of the land and its creatures, entrusted with the responsibility of nurturing and protecting the intricate web of life that sustains us all.
        </p>
    </div>
    <div class="quote-divider">
        <h2>With each step, we leave a trail of tranquility.</h2>
    </div>
    <div class="block" style="height:80px; width:100%;">
        
    </div>
    <script src="../static/script.js"></script>
</body>
</html>