<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Add a css link to static/style.css-->
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
    <style>
        body, html{
            overflow-y: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="hexContainer">
            <div class="hexagon fade-in">
                <a class="innerhexagon" href="/about">
                    Who are we
                </a>
            </div>
            <div class="hexagon fade-in hex-primary" >
                <a class="innerhexagon" href="orderstorm">The<br> Order Of the<br> Storm</a>
            </div>
            <div class="hexagon fade-in">
                <a class="innerhexagon" href="/our_teachings">Our Teachings</a>
            </div>
        </div>
    </div>
    <div class="rabbit">
        
    </div>

    <script src="../static/script.js"></script>
</body>
</html>