<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
</head>
<body>
    <div class="header">
        <div class="hexContainer" style="justify-content:start;">
            <div class="hexagon">
                <a class="innerhexagon" href="/">
                    The<br> Order Of the<br> Storm
                </a>
            </div>
        </div>
    </div>
    
        <div class="image">
            <img src="../static/images/entrance.png" alt="map">
            <div class="address">
                <h1>Attend a service</h1>
                <p style="font-size: 20px;">We are located just outside campglare</p>
                <p style="font-size: 20px;">X: 276 Z: -554</p>
                <p>All are welcome</p>
                <p>All shall attend</p>
                <p>We are the children of the storm</p>
            </div>
        </div>
        
    <script src="../static/script.js"></script>
</body>
</html>