<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
</head>
<body>
    <div class="header">
        <div class="hexContainer" style="justify-content:start;">
            <div class="hexagon">
                <a class="innerhexagon" href="/">
                    The<br> Order Of the<br> Storm
                </a>
            </div>
        </div>
    </div>
    <div class="login-container">
        <form action="/join">
            <input type="text" name="username" placeholder="Username" class="fade-in"/><br>
            
            <br>
            <input type="submit" value="Join Us" class="fade-in"/>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>