<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
</head>
<body>
    <div class="header">
        <div class="hexContainer" style="justify-content:start;">
            <div class="hexagon">
                <a class="innerhexagon" href="/">
                    The<br> Order Of the<br> Storm
                </a>
            </div>
        </div>
    </div>
    <div class="landing-image">
        <div class="button-container">
            <h2 style="opacity: 1;">In harmony with storms, we become one.</h2>
        </div>
        <div class="button-container">
            <a class="button" href="/map">Attend a Service</a>
            <a class="button" href="/teachings">Our Teachings</a>
        </div>
        
    </div>

    
    <script src="../static/script.js"></script>
</body>
</html>