<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Order of the Storm</title>
</head>
<body>
    <div class="header">
        <div class="hexContainer" style="justify-content:start;">
            <div class="hexagon">
                <a class="innerhexagon" href="/">
                    The<br> Order Of the<br> Storm
                </a>
            </div>
        </div>
    </div>
    
    <div class="container" style="height:70%;color:white;text-align: center;">
        Unlock the hidden truth, seeker, by heeding the whispers of secrets veiled in cryptic guise. <br>Delve deep into the teachings, and with keen perception, observe the first letters that dance upon the page.<br> Arrange them with care, and they shall reveal the enigmatic path that lies before you.<br> Let the mystery unfold, for within the initials of each teaching lies the key to unravel hidden wisdom.
    </div>
        
    <script src="../static/script.js"></script>
</body>
</html>